<div class="loginGroup">
    <h1>Done For</h1>
    <p class="subtitle">A choose-your-own-adventure game.</p>
    <form ng-submit='login(); mousedown(); startSoundtrack();' class="login">
        <input type="text" ng-model='newUser.name' placeholder="Enter Your Name" autofocus>
        <input ng-click="update()" type="submit" value='Start' ng-mouseover="mouseover()">
        <p>{{error}}</p>
    </form>
    <footer>
        <button ng-click="mute(); mousedown();" ng-mouseover="mouseover()">Audio: {{muteText}}</button>
        <p>&copy; 2017 <a href="http://bentswanson.com">Ben Swanson</a> All Rights Reserved | <a href="https://github.com/qwerji/done_for">GitHub</a></p>
        <p><a href="game-icons.net">Game-icons.net</a></p>
    </footer>
</div><!--  /.loginGroup -->
