<div ng-controller='gameController'>
    <header>
        <h2>Done For</h2>
        <p> - {{curUser.name}}</p>
        <a ng-click="mousedown(); logout()" ng-mouseover="mouseover()">
            <button>Restart</button>
        </a>
        <a ng-click="mute(); mousedown();" ng-mouseover="mouseover()">
            <button>Audio: {{muteText}}</button>
        </a>
    </header>
    <div class="container">
        <div class="hud oxygenContainer">
            <h3><span>O<sub>2</sub></span></h3>
            <div class="subHud">
                <div class="oxygen" ng-if="curUser.inventory['eva']" style="width: {{oxygenPercentage}}%; background: {{oxygenColor}};">
                    <h4>{{oxygenPercentage}}%</h4>
                </div>
            </div>
        </div><!--  /.oxygenContainer 
     --><div class="hud inventory">
            <h3><span>Inventory</span></h3>
            <div class="subHud">
                <img ng-repeat="(key, value) in curUser.inventory" ng-if="value" src="imgs/items/{{key}}.svg">
            </div>
        </div><!--  /.inventory -->
        <h3 class="prompt mobileOnly">{{situation.prompt}}</h3>
        <div class="imgSpacer">
            <div class="imgContainer">
                <img src="{{ situation.imgURL }}">
            </div><!--  /.imgContainer -->
        </div><!--  /.imgSpacer
     --><div class="promptContainer desktopOnly">
            <h3 class="prompt">{{situation.prompt}}</h3>
        </div><!--  /.promptContainer -->
        <button class="option" ng-repeat="option in situation.options" ng-mouseover="mouseover()" ng-click="do(option); mousedown();">{{ option.text }}</button>
    </div><!--  /.container -->
    <footer class="inGame">
        <p>&copy; 2017 <a href="http://bentswanson.com">Ben Swanson</a> All Rights Reserved | <a href="https://github.com/qwerji/done_for">GitHub</a></p>
        <p><a href="http://game-icons.net">Game-icons.net</a></p>
    </footer>
</div>

