<link rel="stylesheet" href="css/dead.css">
<div ng-controller="endController">
    <div class="endGroup">
        <h2>You survived.</h2>
        <a ng-click="mousedown(); logout();" ng-mouseover="mouseover()">
            <button>Back to Login</button>
        </a>
        <table>
            <tr>
                <td>Name: </td>
                <td>{{winner.name}}</td>
            </tr>
            <tr>
                <td>Time Played: </td>
                <td>{{winner.time_played}} mins</td>
            </tr>
            <tr>
                <td>Inventory: </td>
                <td class="inventory"><img ng-if="value" ng-repeat="(key, value) in winner.inventory" src="imgs/items/{{key}}.svg"></td>
            </tr>
        </table>
        <h3>Recent Survivors</h3>
        <table class="recent">
            <tr ng-repeat="_winner in winners | orderBy : '-createdAt' | limitTo: 5">
                <td>{{_winner.name}}</td>
                <td>{{_winner.time_played}} mins</td>
            </tr>
        </table>
    </div><!--  /.deadGroup -->
    <footer>
        <button ng-click="mute(); mousedown();" ng-mouseover="mouseover()">Audio: {{muteText}}</button>
        <p>&copy; 2017 <a href="http://bentswanson.com">Ben Swanson</a> All Rights Reserved | <a href="https://github.com/qwerji/done_for">GitHub</a></p>
        <p><a href="game-icons.net">Game-icons.net</a></p>
    </footer>
</div>
