* {
    color: lightgreen;
    font-family: 'Space Mono', monospace;
}
body {
    background: #303030;
}
input, button {
    background: #303030;
    color: lightgreen;
    transition: 0.08s linear all;
}
input[type="submit"]:hover ,button:hover {
    background: white;
}
.container {
    margin: 0px auto;
    width: 600px;
}
.oxygen {
    height: 30px;
    transition: .7s ease all;
}
    .oxygen h4 {
        float: right;
    }
