* {
    color: #7eff7e;
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #303030;
}

header {
    background: #464646;
    border-bottom: 1px solid #7eff7e;
    height: 40px;
}
    header h2 {
        display: inline-block;
        margin-left: 10px;
    }
    header p {
        display: inline-block;
    }
    header a {
        float: right;
        line-height: 40px;
        margin-right: 5px;
    }
        header a button {
            background: #464646;
        }
        header a button:hover {
            color: #464646;
        }

footer {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 0px;
    text-align: center;
    width: 100%;
}
    footer p, a {
        text-align: center;
        font-size: 12px;
        color: #727272;
    }
    footer button {
        margin-bottom: 10px;
    }

h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    vertical-align: middle;
}
h3 {
    font-size: 15px;
}

p.subtitle {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

input, button {
    background: #303030;
    color: #7eff7e;
    transition: 0.08s linear all;
}

input[type="text"], input[type="submit"], button {
    border: 1px solid #7eff7e;
    border-radius: 2px;
    padding: 7px 10px;
}
input[type="submit"]:hover, button:hover {
    background: #7eff7e;
    color: #303030;
}

form.login {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
    form.login input[type="text"] {
        width: 250px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    form.login input[type="submit"] {
        padding: 20px 30px;
        margin-top: 15px;
    }

div.hud {
    width: 100%;
    margin-bottom: 5px;
}
    div.hud h3 {
        height: 24px;
        padding: 5px 15px;
        background: #464646;
        display: inline-block;
    }
    div.hud .subHud {
        height: 30px;
        padding: 5px;
        background: #666666;
    }
        div.hud .subHud img, div.endGroup td img {
            height: 30px;
            float: left;
            margin-right: 2px;
            border-radius: 2px;
        }

.oxygen {
    height: 30px;
    transition: .7s ease all;
}
    .oxygen h4 {
        float: right;
    }

.prompt {
    background: #464646;
    font-size: 13px;
    padding: 5px 15px;
    margin-bottom: 5px;
}
.imgContainer {
    padding: 5px;
    background: #464646;
}
    .imgContainer img {
        display: block;
        width: 100%;
    }

.option {
    width: 50%;
    height: 55px;
    padding: 20px 10px;
    display: table-cell;
    vertical-align: middle;
}
    .option:nth-of-type(1), .option:nth-of-type(2) {
        margin-top: 10px;
    }

/* Mobile */
@media all and (max-width: 768px) {
    input[type="text"] {
        font-size: 16px;
    }
    div.container {
        margin: 7px;
    }
    header p {
        display: none;
    }
    *.desktopOnly {
        display: none;
    }
    footer.inGame {
        display: none;
    }
}

/* Desktop */
@media all and (min-width: 769px){
    div.container {
        max-width: 970px;
        margin: 10px auto 0;
        padding-right: 1%;
        padding-left: 1%;
    }

    div.hud {
        width: 49.5%;
        display: inline-block;
    }
        div.hud:first-of-type {
            padding-right: 0.5%;
        }
        div.hud:nth-of-type(2) {
            width: 49.5%;
            padding-left: 0.5%;
        }
    
    .imgSpacer {
        display: inline-block;
        width: 49.5%;
        padding-right: 0.5%;
    }
    .imgContainer {
        display: inline-block;
    }
    
    div.promptContainer {
        display: inline-block;
        width: 49.5%;
        padding-left: 0.5%;
        vertical-align: top;
        height: 250px;
        margin-bottom: 10px;
    }
        div.promptContainer h3.prompt {
            height: 100%;
        }

    div.loginGroup {
        width: 310px;
        height: 270px;
        position: absolute;
        top: 50%;
        left: 50.25%;
        margin: -160px 0 0 -160px;
    }
    *.mobileOnly {
        display: none;
    }
}
